<div ng-controller="IndexController">

    <super-navbar>
        <super-navbar-title>
            Welcome
        </super-navbar-title>
    </super-navbar>

    <div class="padding">

        <h1 class="mg-title">App Demo</h1>
        <p> This is a demo of the AppGyver system by Matt Lovan. So far, so good!
            Use the button below to view the source code on Github.
        </p>

        <ul class="list">
            <li class="item item-divider item-text-wrap">
                <h2>Tabs</h2>
            </li>
            <li class="item item-text-wrap">
                <h2>Map</h2>
                <p>Google map and location</p>
            </li>
            <li class="item item-text-wrap">
                <h2>Contractors</h2>
                <p>create, retrieve, update, delete</p>
            </li>
            <li class="item item-text-wrap">
                <h2>Camera</h2>
                <p>take pictures</p>
            </li>
            <li class="item item-text-wrap">
                <h2>Weather</h2>
                <p>view weather report from the nearest weather station</p>
            </li>
        </ul>

        <button class="button button-block button-positive" ng-click="launchGithub()">
            View code on GitHub
            <i class="icon super-social-github"></i>
        </button>

    </div>

</div>